In [1]:
strategies=['Rock','Paper','Scissors','Spock','Lizard']

In [4]:
payoff={('Rock','Paper'):(0,1),
        ('Paper','Rock'):(1,0),
        ('Rock','Scissors'):(1,0),
        ('Scissors','Rock'):(0,1),
        ('Paper','Scissors'):(0,1),
        ('Scissors','Paper'):(1,0),
        ('Rock','Rock'):(0,0),
        ('Paper','Paper'):(0,0),
        ('Scissors','Scissors'):(0,0),
        ('Rock','Lizard'):(1,0),
        ('Lizard','Rock'):(0,1),
        ('Paper','Lizard'):(0,1),
        ('Lizard','Paper'):(1,0),
        ('Lizard','Scissors'):(0,1),
        ('Scissors','Lizard'):(1,0),
        ('Spock','Rock'):(1,0),
        ('Rock','Spock'):(0,1),
        ('Spock','Lizard'):(0,1),
        ('Lizard','Spock'):(1,0),
        ('Paper','Spock'):(1,0),
        ('Spock','Paper'):(0,1),
        ('Scissors','Spock'):(0,1),
        ('Spock','Scissors'):(1,0),
        ('Lizard','Lizard'):(0,0),
        ('Spock','Spock'):(0,0)}

In [5]:
Players=[{'name':'John','score':0,'strategy':None},
         {'name':'Mary','score':0,'strategy':None}]

In [6]:
from random import choice

#simplest strategy: choose randomly
choice(strategies);

In [7]:
Players[0]['strategy']=choice(strategies)
Players[1]['strategy']=choice(strategies)

In [8]:
Players[0]['strategy'],Players[1]['strategy']

('Lizard', 'Scissors')

In [9]:
# social result of individual decision
result = payoff[Players[0]['strategy'],Players[1]['strategy']]
result

(0, 1)

In [10]:
# update agents situation
Players[0]['score']+=result[0]
Players[1]['score']+=result[1]

In [11]:
# current agent situation
Players

[{'name': 'John', 'score': 0, 'strategy': 'Lizard'},
 {'name': 'Mary', 'score': 1, 'strategy': 'Scissors'}]

In [12]:
import pandas as pd

socialResults=pd.DataFrame((Players[0], Players[1]))
socialResults

   name  score  strategy
0  John      0    Lizard
1  Mary      1  Scissors

In [13]:
winnerScore=socialResults.score.max()

#social outcome
socialResults[socialResults.score==winnerScore]

   name  score  strategy
1  Mary      1  Scissors

In [15]:
# number of players: 10

In [16]:
# names of players
names=['Jim','Jane','Peter','Zoe','Julio','Jani','Jose','Sua','Luis','Enrique']

In [17]:
# setting up players
society=[{'name':n,'score':0,'strategy':None} for n in names]

In [18]:
# each player a dict:
society

[{'name': 'Jim', 'score': 0, 'strategy': None},
 {'name': 'Jane', 'score': 0, 'strategy': None},
 {'name': 'Peter', 'score': 0, 'strategy': None},
 {'name': 'Zoe', 'score': 0, 'strategy': None},
 {'name': 'Julio', 'score': 0, 'strategy': None},
 {'name': 'Jani', 'score': 0, 'strategy': None},
 {'name': 'Jose', 'score': 0, 'strategy': None},
 {'name': 'Sua', 'score': 0, 'strategy': None},
 {'name': 'Luis', 'score': 0, 'strategy': None},
 {'name': 'Enrique', 'score': 0, 'strategy': None}]

In [19]:
import itertools

# pair is a tuple of dicts
for pair in itertools.combinations(society,2):
    print(pair)

({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Jane', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Peter', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Julio', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Jani', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Jose', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Sua', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Luis', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Enrique', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Peter', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Julio', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Jani', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Jose', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Sua', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Luis', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Enrique', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'Julio', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'Jani', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'Jose', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'Sua', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'Luis', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'Enrique', 'score': 0, 'strategy': None})
({'name': 'Zoe', 'score': 0, 'strategy': None}, {'name': 'Julio', 'score': 0, 'strategy': None})
({'name': 'Zoe', 'score': 0, 'strategy': None}, {'name': 'Jani', 'score': 0, 'strategy': None})
({'name': 'Zoe', 'score': 0, 'strategy': None}, {'name': 'Jose', 'score': 0, 'strategy': None})
({'name': 'Zoe', 'score': 0, 'strategy': None}, {'name': 'Sua', 'score': 0, 'strategy': None})
({'name': 'Zoe', 'score': 0, 'strategy': None}, {'name': 'Luis', 'score': 0, 'strategy': None})
({'name': 'Zoe', 'score': 0, 'strategy': None}, {'name': 'Enrique', 'score': 0, 'strategy': None})
({'name': 'Julio', 'score': 0, 'strategy': None}, {'name': 'Jani', 'score': 0, 'strategy': None})
({'name': 'Julio', 'score': 0, 'strategy': None}, {'name': 'Jose', 'score': 0, 'strategy': None})
({'name': 'Julio', 'score': 0, 'strategy': None}, {'name': 'Sua', 'score': 0, 'strategy': None})
({'name': 'Julio', 'score': 0, 'strategy': None}, {'name': 'Luis', 'score': 0, 'strategy': None})
({'name': 'Julio', 'score': 0, 'strategy': None}, {'name': 'Enrique', 'score': 0, 'strategy': None})
({'name': 'Jani', 'score': 0, 'strategy': None}, {'name': 'Jose', 'score': 0, 'strategy': None})
({'name': 'Jani', 'score': 0, 'strategy': None}, {'name': 'Sua', 'score': 0, 'strategy': None})
({'name': 'Jani', 'score': 0, 'strategy': None}, {'name': 'Luis', 'score': 0, 'strategy': None})
({'name': 'Jani', 'score': 0, 'strategy': None}, {'name': 'Enrique', 'score': 0, 'strategy': None})
({'name': 'Jose', 'score': 0, 'strategy': None}, {'name': 'Sua', 'score': 0, 'strategy': None})
({'name': 'Jose', 'score': 0, 'strategy': None}, {'name': 'Luis', 'score': 0, 'strategy': None})
({'name': 'Jose', 'score': 0, 'strategy': None}, {'name': 'Enrique', 'score': 0, 'strategy': None})
({'name': 'Sua', 'score': 0, 'strategy': None}, {'name': 'Luis', 'score': 0, 'strategy': None})
({'name': 'Sua', 'score': 0, 'strategy': None}, {'name': 'Enrique', 'score': 0, 'strategy': None})
({'name': 'Luis', 'score': 0, 'strategy': None}, {'name': 'Enrique', 'score': 0, 'strategy': None})

In [20]:
import itertools

# each dict
for player1,player2 in itertools.combinations(society,2):
    print(player1,player2)

{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Jane', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Peter', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Julio', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Jani', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Jose', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Sua', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Luis', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Enrique', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Peter', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Julio', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Jani', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Jose', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Sua', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Luis', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Enrique', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Julio', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Jani', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Jose', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Sua', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Luis', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Enrique', 'score': 0, 'strategy': None}
{'name': 'Zoe', 'score': 0, 'strategy': None} {'name': 'Julio', 'score': 0, 'strategy': None}
{'name': 'Zoe', 'score': 0, 'strategy': None} {'name': 'Jani', 'score': 0, 'strategy': None}
{'name': 'Zoe', 'score': 0, 'strategy': None} {'name': 'Jose', 'score': 0, 'strategy': None}
{'name': 'Zoe', 'score': 0, 'strategy': None} {'name': 'Sua', 'score': 0, 'strategy': None}
{'name': 'Zoe', 'score': 0, 'strategy': None} {'name': 'Luis', 'score': 0, 'strategy': None}
{'name': 'Zoe', 'score': 0, 'strategy': None} {'name': 'Enrique', 'score': 0, 'strategy': None}
{'name': 'Julio', 'score': 0, 'strategy': None} {'name': 'Jani', 'score': 0, 'strategy': None}
{'name': 'Julio', 'score': 0, 'strategy': None} {'name': 'Jose', 'score': 0, 'strategy': None}
{'name': 'Julio', 'score': 0, 'strategy': None} {'name': 'Sua', 'score': 0, 'strategy': None}
{'name': 'Julio', 'score': 0, 'strategy': None} {'name': 'Luis', 'score': 0, 'strategy': None}
{'name': 'Julio', 'score': 0, 'strategy': None} {'name': 'Enrique', 'score': 0, 'strategy': None}
{'name': 'Jani', 'score': 0, 'strategy': None} {'name': 'Jose', 'score': 0, 'strategy': None}
{'name': 'Jani', 'score': 0, 'strategy': None} {'name': 'Sua', 'score': 0, 'strategy': None}
{'name': 'Jani', 'score': 0, 'strategy': None} {'name': 'Luis', 'score': 0, 'strategy': None}
{'name': 'Jani', 'score': 0, 'strategy': None} {'name': 'Enrique', 'score': 0, 'strategy': None}
{'name': 'Jose', 'score': 0, 'strategy': None} {'name': 'Sua', 'score': 0, 'strategy': None}
{'name': 'Jose', 'score': 0, 'strategy': None} {'name': 'Luis', 'score': 0, 'strategy': None}
{'name': 'Jose', 'score': 0, 'strategy': None} {'name': 'Enrique', 'score': 0, 'strategy': None}
{'name': 'Sua', 'score': 0, 'strategy': None} {'name': 'Luis', 'score': 0, 'strategy': None}
{'name': 'Sua', 'score': 0, 'strategy': None} {'name': 'Enrique', 'score': 0, 'strategy': None}
{'name': 'Luis', 'score': 0, 'strategy': None} {'name': 'Enrique', 'score': 0, 'strategy': None}

In [21]:
# resetting society
society=[{'name':n,'score':0,'strategy':None} for n in names]

# several rounds
for aRound in range(100):

    # en each round:
    for player1,player2 in itertools.combinations(society,2):
        # each chooses strategy
        player1['strategy']=choice(strategies)

        player2['strategy']=choice(strategies)

        # result from strategy chosen
        result=payoff[player1['strategy'],player2['strategy']]

        # update scores
        player1['score']+=result[0]
        player2['score']+=result[1]

In [22]:
# final situation
society

[{'name': 'Jim', 'score': 367, 'strategy': 'Spock'},
 {'name': 'Jane', 'score': 343, 'strategy': 'Paper'},
 {'name': 'Peter', 'score': 346, 'strategy': 'Rock'},
 {'name': 'Zoe', 'score': 364, 'strategy': 'Rock'},
 {'name': 'Julio', 'score': 366, 'strategy': 'Spock'},
 {'name': 'Jani', 'score': 368, 'strategy': 'Lizard'},
 {'name': 'Jose', 'score': 353, 'strategy': 'Spock'},
 {'name': 'Sua', 'score': 355, 'strategy': 'Scissors'},
 {'name': 'Luis', 'score': 349, 'strategy': 'Scissors'},
 {'name': 'Enrique', 'score': 361, 'strategy': 'Lizard'}]

In [23]:
# as a data frame
socialResults=pd.DataFrame(society)
socialResults

      name  score  strategy
0      Jim    367     Spock
1     Jane    343     Paper
2    Peter    346      Rock
3      Zoe    364      Rock
4    Julio    366     Spock
5     Jani    368    Lizard
6     Jose    353     Spock
7      Sua    355  Scissors
8     Luis    349  Scissors
9  Enrique    361    Lizard

In [24]:
winnerScore=socialResults.score.max()

#social outcome
socialResults[socialResults.score==winnerScore]

   name  score strategy
5  Jani    368   Lizard

In [25]:
print(player1['name'] + " chose " + player1['strategy'] +" - "+player2['name'] + " chose " + player2['strategy'] )




if payoff[player1['strategy'],player2['strategy']] == (1,0):
    print(player1['name'] + " won")
if payoff[player1['strategy'],player2['strategy']] == (0,1):
    print(player2['name'] + " won")
else:
    print("TIE!")

Luis chose Scissors - Enrique chose Lizard
Luis won
TIE!