In [5]:
strategies=['Rock','Paper','Scissors']

In [6]:
payoff={('Rock','Paper'):(0,1),
        ('Paper','Rock'):(1,0),
        ('Rock','Scissors'):(1,0),
        ('Scissors','Rock'):(0,1),
        ('Paper','Scissors'):(0,1),
        ('Scissors','Paper'):(1,0),
        ('Rock','Rock'):(0,0),
        ('Paper','Paper'):(0,0),
        ('Scissors','Scissors'):(0,0)}

In [7]:
Players=[{'name':'John','score':0,'strategy':None},
         {'name':'Mary','score':0,'strategy':None}]

In [8]:
from random import choice

#simplest strategy: choose randomly
choice(strategies);

In [18]:
Players[0]['strategy']=choice(strategies)
Players[1]['strategy']=choice(strategies)

In [20]:
Players[0]['strategy'],Players[1]['strategy']

('Scissors', 'Rock')

In [21]:
# social result of individual decision
result = payoff[Players[0]['strategy'],Players[1]['strategy']]
result

(0, 1)

In [22]:
# update agents situation
Players[0]['score']+=result[0]
Players[1]['score']+=result[1]

In [23]:
# current agent situation
Players

[{'name': 'John', 'score': 0, 'strategy': 'Scissors'},
 {'name': 'Mary', 'score': 1, 'strategy': 'Rock'}]

In [24]:
import pandas as pd 

socialResults=pd.DataFrame((Players[0], Players[1]))
socialResults

   name  score  strategy
0  John      0  Scissors
1  Mary      1      Rock

In [25]:
winnerScore=socialResults.score.max()

#social outcome
socialResults[socialResults.score==winnerScore]

   name  score strategy
1  Mary      1     Rock

In [47]:
# names of players
names=['Jim','Jane','Peter','Zoe','Julio','Jani','Jose','Sua','Luis','Enrique']

In [48]:
# setting up players
society=[{'name':n,'score':0,'strategy':None} for n in names]

In [49]:
# each player a dict:
society

[{'name': 'Jim', 'score': 0, 'strategy': None},
 {'name': 'Jane', 'score': 0, 'strategy': None},
 {'name': 'Peter', 'score': 0, 'strategy': None},
 {'name': 'Zoe', 'score': 0, 'strategy': None},
 {'name': 'Julio', 'score': 0, 'strategy': None},
 {'name': 'Jani', 'score': 0, 'strategy': None},
 {'name': 'Jose', 'score': 0, 'strategy': None},
 {'name': 'Sua', 'score': 0, 'strategy': None},
 {'name': 'Luis', 'score': 0, 'strategy': None},
 {'name': 'Enrique', 'score': 0, 'strategy': None}]

In [50]:
import itertools 

# pair is a tuple of dicts
for pair in itertools.combinations(society,2):
    print(pair)

({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Jane', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Peter', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Julio', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Jani', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Jose', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Sua', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Luis', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Enrique', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Peter', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Julio', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Jani', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Jose', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Sua', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Luis', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Enrique', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'Julio', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'Jani', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'Jose', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'Sua', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'Luis', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'Enrique', 'score': 0, 'strategy': None})
({'name': 'Zoe', 'score': 0, 'strategy': None}, {'name': 'Julio', 'score': 0, 'strategy': None})
({'name': 'Zoe', 'score': 0, 'strategy': None}, {'name': 'Jani', 'score': 0, 'strategy': None})
({'name': 'Zoe', 'score': 0, 'strategy': None}, {'name': 'Jose', 'score': 0, 'strategy': None})
({'name': 'Zoe', 'score': 0, 'strategy': None}, {'name': 'Sua', 'score': 0, 'strategy': None})
({'name': 'Zoe', 'score': 0, 'strategy': None}, {'name': 'Luis', 'score': 0, 'strategy': None})
({'name': 'Zoe', 'score': 0, 'strategy': None}, {'name': 'Enrique', 'score': 0, 'strategy': None})
({'name': 'Julio', 'score': 0, 'strategy': None}, {'name': 'Jani', 'score': 0, 'strategy': None})
({'name': 'Julio', 'score': 0, 'strategy': None}, {'name': 'Jose', 'score': 0, 'strategy': None})
({'name': 'Julio', 'score': 0, 'strategy': None}, {'name': 'Sua', 'score': 0, 'strategy': None})
({'name': 'Julio', 'score': 0, 'strategy': None}, {'name': 'Luis', 'score': 0, 'strategy': None})
({'name': 'Julio', 'score': 0, 'strategy': None}, {'name': 'Enrique', 'score': 0, 'strategy': None})
({'name': 'Jani', 'score': 0, 'strategy': None}, {'name': 'Jose', 'score': 0, 'strategy': None})
({'name': 'Jani', 'score': 0, 'strategy': None}, {'name': 'Sua', 'score': 0, 'strategy': None})
({'name': 'Jani', 'score': 0, 'strategy': None}, {'name': 'Luis', 'score': 0, 'strategy': None})
({'name': 'Jani', 'score': 0, 'strategy': None}, {'name': 'Enrique', 'score': 0, 'strategy': None})
({'name': 'Jose', 'score': 0, 'strategy': None}, {'name': 'Sua', 'score': 0, 'strategy': None})
({'name': 'Jose', 'score': 0, 'strategy': None}, {'name': 'Luis', 'score': 0, 'strategy': None})
({'name': 'Jose', 'score': 0, 'strategy': None}, {'name': 'Enrique', 'score': 0, 'strategy': None})
({'name': 'Sua', 'score': 0, 'strategy': None}, {'name': 'Luis', 'score': 0, 'strategy': None})
({'name': 'Sua', 'score': 0, 'strategy': None}, {'name': 'Enrique', 'score': 0, 'strategy': None})
({'name': 'Luis', 'score': 0, 'strategy': None}, {'name': 'Enrique', 'score': 0, 'strategy': None})

In [51]:
import itertools 

# each dict
for player1,player2 in itertools.combinations(society,2):
    print(player1,player2)

{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Jane', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Peter', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Julio', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Jani', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Jose', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Sua', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Luis', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Enrique', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Peter', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Julio', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Jani', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Jose', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Sua', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Luis', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Enrique', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Julio', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Jani', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Jose', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Sua', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Luis', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Enrique', 'score': 0, 'strategy': None}
{'name': 'Zoe', 'score': 0, 'strategy': None} {'name': 'Julio', 'score': 0, 'strategy': None}
{'name': 'Zoe', 'score': 0, 'strategy': None} {'name': 'Jani', 'score': 0, 'strategy': None}
{'name': 'Zoe', 'score': 0, 'strategy': None} {'name': 'Jose', 'score': 0, 'strategy': None}
{'name': 'Zoe', 'score': 0, 'strategy': None} {'name': 'Sua', 'score': 0, 'strategy': None}
{'name': 'Zoe', 'score': 0, 'strategy': None} {'name': 'Luis', 'score': 0, 'strategy': None}
{'name': 'Zoe', 'score': 0, 'strategy': None} {'name': 'Enrique', 'score': 0, 'strategy': None}
{'name': 'Julio', 'score': 0, 'strategy': None} {'name': 'Jani', 'score': 0, 'strategy': None}
{'name': 'Julio', 'score': 0, 'strategy': None} {'name': 'Jose', 'score': 0, 'strategy': None}
{'name': 'Julio', 'score': 0, 'strategy': None} {'name': 'Sua', 'score': 0, 'strategy': None}
{'name': 'Julio', 'score': 0, 'strategy': None} {'name': 'Luis', 'score': 0, 'strategy': None}
{'name': 'Julio', 'score': 0, 'strategy': None} {'name': 'Enrique', 'score': 0, 'strategy': None}
{'name': 'Jani', 'score': 0, 'strategy': None} {'name': 'Jose', 'score': 0, 'strategy': None}
{'name': 'Jani', 'score': 0, 'strategy': None} {'name': 'Sua', 'score': 0, 'strategy': None}
{'name': 'Jani', 'score': 0, 'strategy': None} {'name': 'Luis', 'score': 0, 'strategy': None}
{'name': 'Jani', 'score': 0, 'strategy': None} {'name': 'Enrique', 'score': 0, 'strategy': None}
{'name': 'Jose', 'score': 0, 'strategy': None} {'name': 'Sua', 'score': 0, 'strategy': None}
{'name': 'Jose', 'score': 0, 'strategy': None} {'name': 'Luis', 'score': 0, 'strategy': None}
{'name': 'Jose', 'score': 0, 'strategy': None} {'name': 'Enrique', 'score': 0, 'strategy': None}
{'name': 'Sua', 'score': 0, 'strategy': None} {'name': 'Luis', 'score': 0, 'strategy': None}
{'name': 'Sua', 'score': 0, 'strategy': None} {'name': 'Enrique', 'score': 0, 'strategy': None}
{'name': 'Luis', 'score': 0, 'strategy': None} {'name': 'Enrique', 'score': 0, 'strategy': None}

In [52]:
# resetting society
society=[{'name':n,'score':0,'strategy':None} for n in names]

# several rounds
for aRound in range(100):
    
    # en each round:
    for player1,player2 in itertools.combinations(society,2):
        # each chooses strategy
        player1['strategy']=choice(strategies)
        
        player2['strategy']=choice(strategies)
        
        # result from strategy chosen
        result=payoff[player1['strategy'],player2['strategy']]
            
        # update scores
        player1['score']+=result[0]
        player2['score']+=result[1]

In [53]:
# final situation
society

[{'name': 'Jim', 'score': 303, 'strategy': 'Paper'},
 {'name': 'Jane', 'score': 315, 'strategy': 'Rock'},
 {'name': 'Peter', 'score': 312, 'strategy': 'Rock'},
 {'name': 'Zoe', 'score': 304, 'strategy': 'Rock'},
 {'name': 'Julio', 'score': 301, 'strategy': 'Rock'},
 {'name': 'Jani', 'score': 292, 'strategy': 'Scissors'},
 {'name': 'Jose', 'score': 295, 'strategy': 'Paper'},
 {'name': 'Sua', 'score': 290, 'strategy': 'Paper'},
 {'name': 'Luis', 'score': 297, 'strategy': 'Rock'},
 {'name': 'Enrique', 'score': 296, 'strategy': 'Rock'}]

In [54]:
# as a data frame
socialResults=pd.DataFrame(society)
socialResults

      name  score  strategy
0      Jim    303     Paper
1     Jane    315      Rock
2    Peter    312      Rock
3      Zoe    304      Rock
4    Julio    301      Rock
5     Jani    292  Scissors
6     Jose    295     Paper
7      Sua    290     Paper
8     Luis    297      Rock
9  Enrique    296      Rock

In [55]:
winnerScore=socialResults.score.max()

#social outcome
socialResults[socialResults.score==winnerScore]

   name  score strategy
1  Jane    315     Rock

In [57]:
print(player1['name'] + " chose " + player1['strategy'] +" - "+player2['name'] + " chose " + player2['strategy'] )




if payoff[player1['strategy'],player2['strategy']] == (1,0):
    print(player1['name'] + " won")
if payoff[player1['strategy'],player2['strategy']] == (0,1):
    print(player2['name'] + " won")
else:
    print("TIE!")

Luis chose Rock - Enrique chose Rock
TIE!